<form>
    <div>
        <label for="id">Id</label>
        <input type="number" />
    </div>
    <div>
        <label for="nombre">Nombre</label>
        <input type="text" />
    </div>
    <div>
        <label for="descripcion">Descripción</label>
        <input type="text" />
    </div>
    <div>
        <label for="terminada">Terminada</label>
        <input type="checkbox" />
    </div>
    <div>
        <label for=""></label>
        <button routerLink="/tareas/tabla">Aceptar</button>
    </div>  
</form>
