<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Terminada</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tarea of tareas">
            <td>{{tarea.id}}</td>
            <td>{{tarea.nombre}}</td>
            <td>{{tarea.descripcion}}</td>
            <td>
                <input #inputCheckbox type="checkbox" [checked]='tarea.terminada' (click)="onTerminada(tarea.id, inputCheckbox.checked)" />
            </td>
            <td>
                <a routerLink="/tareas/form/{{tarea.id}}">Editar</a>
                &nbsp;
                <a (click)="onBorrar(tarea.id)">Borrar</a>
            </td>
        </tr>
    </tbody>
</table>

<button routerLink="/tareas/form">Añadir</button>